* {
  box-sizing: border-box;
}

:root {
  --header-height: 80px;
}

img {
  min-width: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (width > 768px) {
  .hide-desktop {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
}

