@font-face {
  font-family: 'Monument Extended';
  src: url('/PPMonumentExtended-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Instrument Serif';
  src: url('.InstrumentSerif-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Instrument Serif';
  src: url('/InstrumentSerif-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Monument Extended', 'Inter', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block: 0 0.4em;
}

h1,
.h1 {
  font-size: 32px;
}